<div class="container">
  <h2>What I need to buy this week at the grocery</h2>
  <!--items input-->
  <p>
    <form role="form" ng-submit="addItem()">
      <div class="row">
        <div class="input-group">
          <input type="text" ng-model="item" placeholder="What to buy?" class="form-control">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Add">
          </span>
        </div>
      </div>
    </form>
  </p>
  <!--items list-->
  <p class="form-grp" ng-repeat="item in items">
    <input type="text" ng-model="item" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="removeItem($index)" aria-label="Remove">X</button>
    </span>
  </p>
</div>
